.multiRoom.invisi
    .title
        .title--left
            span.roomName Easy | 1
            span.roomInfo (3/4)
        .title--right
            span.roomStatus Waiting for another player/Game has been started
    .contents
        .nav1
            //- .userArea.user1
            //-     .user__title
            //-         .user__nickname
            //-             .user__nickname-span
            //-         .user__avatar
            //-     .user__board
            //-         ul.user__board-ul
            //- .userArea.user2
            //-     .user__title
            //-         .user__nickname
            //-             .user__nickname-span
            //-         .user__avatar
            //-     .user__board
            //-         ul.user__board-ul
        .main
            .mainBoard
                .mainBoard__main
            .mainController
                .mainController__main
                    .dataSetting
                        //- .data__item
                        //-     button.upBtn
                        //-         i(class="fas fa-angle-up")
                        //-     .dataDiv
                        //-         span 0
                        //-     button.downBtn
                        //-         i(class="fas fa-angle-down")
                    .attackBtnArea
                        button.attackBtn
                            i(class="fas fa-baseball-ball")
        .nav2
            //- .userArea.user3
            .chat
                ul.chatBoard#chatUl
                .chatInput
                    form#chatForm
                        input(type="text", placeholder="Chatting", autocomplete="off").chatInput-text#chatInput
                        input(type="submit", value="Send").chatInput-btn